// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$text-color: #222222 !default;
$brand-color: #FF0256 !default;
$light-grey: #ededed !default;
$mid-grey: #999999 !default;
$dark-grey: #444444 !default;
$color-green: #416D4E;
$color-white: #ffffff;

